<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title> COVID-19 </title>
  <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static',filename='styles/theme.css')}}">

</head>

<body>
  <header>UPDATE {{update}} </header>


  <nav>
    <div class="grid-container">


      <div class="grid-item item1">

        <div class="square">
          <span></span>
          <span></span>
          <span></span>
          <div class=content>
            <h1>ผู้ติดเชื้อรวม<br>
              <h3>{{cumulative}} คน</h3>
            </h1>
          </div>
        </div>
      </div>


      <div class="grid-item item2">
        <div class="square2">
          <span></span>
          <span></span>
          <span></span>
          <div class=content>
            <h2>พบผู้ติดเชื้อรายใหม่<br>
              <h4>{{new}} คน</h4>
            </h2>
          </div>
        </div>
      </div>

        <div class="grid-item item3">
          <div class="square2">
            <span></span>
            <span></span>
            <span></span>
            <div class=content>
              <h2>รักษาตัวอยู่ในโรงพยาบาล<br>
                <h4>{{hospitalized}} คน</h4>
              </h2>
            </div>
          </div>
        </div>

          <div class="grid-item item4">
            <div class="square2">
              <span></span>
              <span></span>
              <span></span>
              <div class=content>
                <h2>ผู้เสียชีวิตรวม<br>
                  <h4>{{dead}} คน</h4>
                </h2>
              </div>
            </div>
          </div>
          
            <div class="grid-item item5">
              <div class="square2">
                <span></span>
                <span></span>
                <span></span>
                <div class=content>
                  <h2>กลับบ้านแล้ว<br>
                    <h4>{{goHome}} คน</h4>
                  </h2>
                </div>
              </div>
            </div>
  </nav>

  <!-- <footer>
    อ้างอิงจาก {{references}}
  </footer> -->


</body>

</html>